:root {
    --primary-color: #000000;
    --transition:  0.5s ease-in-out;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Maven Pro', sans-serif;
    color: #000000;
}

.navlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38rem;
    height: 5rem;
    border-bottom: 1.5px solid  #000000;
    
}

.navlinks ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-right: 2rem;
}

.navlinks ul li {
    font-weight: 450;
}

.navlinks a:nth-child(5) {
    border: 1px solid #000000;
    height: 2.5rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.navlinks  a:nth-child(5):hover {
    scale: 1.05;

}

.hero__content img {
    width: 4rem;
    margin-left: 0.2rem;
    position: absolute;
    margin-top: 1rem;
   
}

.hero__content h1 {
    font-size: 64px;
    font-weight: 850;
    line-height: 99.97px;
    text-align: left;

}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

 .hero__img img {
    height: 700px;
    width: 600px;
    margin-left: 64px;
    margin-top: 100px;
}

.hero__content p {
font-size: 16px;
font-weight: 500;
line-height: 25px;
text-align: left;

}

 .btn {
    height: 71px;
    background: #000000;
    color: #fff;
    margin-top: 4rem;
    width: 10rem;
    font-size: 20px;
    font-weight: 500;
    width: 238px;
    cursor: pointer;
    transition: var(--transition);

}



.btn:hover {
    background: #fff;
    color: #000000;
}

.vendors {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10rem;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.vendors__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10rem;
}

.vendors__content h2 {
    text-align: left;
    font-size: 48px;
    line-height: 74.98px;
}

.vendors__content p {
    font-size: 20px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

.vendors__content .small {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 1rem;
}

.vendors__content img {
    margin-left: 17rem;
    bottom: 7rem;
    position: relative;
    width: 12rem;
}

.profiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 2rem;
}

.profile img {
    width: 10rem;
    padding: 0.5rem;    
}

.profile {
    border: 1px solid var(--primary-color);
    height: 16rem;
    width: 15.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -10;
}

.profile__img {
    position: relative;
    border-radius: 50%;
    z-index: -10;
}



.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(3px);
    transition: all 0.7s ease-in-out;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    visibility: hidden;
    cursor: pointer;
    z-index: 90;


}

.overlay:hover {
    visibility: visible;
    cursor: ;

}

.profile .btn2 {
    margin-top: 2.5rem;
    height: 2.5rem;
    width: 8rem;
    background: #fff;
    border: 1px solid #000000;
    transition: var(--transition);
}

.profile .btn2:hover {
    background: var(--primary-color);
    color: #fff;
}



  /*======= Media Queries (Phones) ========*/
  @media screen and (max-width: 600px) {
    .vendors {
        grid-template-columns: 1fr;
    }

    .profiles {
        grid-template-columns: repeat(2, 1fr);
        margin-right: 0;
        align-self: center;
        width: 15rem;
    }

    .profile:nth-child(9) {
        margin-left: 8rem;
        position: absolute;
        z-index: 45;
        margin-top: 65rem;
    }

    .hero__content img {
        width: 2.5rem;
        margin-left: 5.5rem;
        position: absolute;
        margin-top: 4.1rem;
       
    }
    
    .hero__content h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 34px;
        font-weight: 850;
        line-height: 70px;
        text-align: center;

    
    }
    
    .main {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        height: 100vh;
        
    }
    
     .hero__img img {
        height: 400px;
        width: 400px;
        margin-left: 64px;
        margin-top: 200px;

    }
    
    .hero__content p {
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    width: 15rem;
    
    }
  }